* {
  margin: 0;
  padding: 0;
  height: auto;
}

.fa {
  direction: rtl;
}

.mainimage {
  width: 100%;
  top: 0;
  height: auto;
}

.mainarea {
  max-width: 70%;
  margin: auto;
  background: white;
  padding: 0;
  box-shadow: #2d2c2c 4px 0 50px;
}

a {
  color: #690606;
  text-decoration: none;
}

.udemy a {
  background-color: #690606;
  color: whitesmoke;
  font-size: 0.7rem;
  padding: 0 20px;
}

.udemy a:hover {
  font-weight: normal;
}

.headerPage {
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 33px;
  font-weight: bold;
  color: dodgerblue;
  margin: 0;
  padding: 14px 25px;
  text-align: center;
  display: block; */
  align-items: center;
  font-family: 'Work Sans', sans-serif;
  font-size:4rem ;
  color:DarkRed;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  line-height: 1;
  padding: 25px 1px 1px 1px;
}

h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #021812;
  color: whitesmoke;
  margin: 0;
  padding: 14px 25px;
  text-align: center;
  display: block;
}

h1:hover::after {   content: "   ] "; }

h1:hover::before {   content: " [   ";  }


h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14pt;
  background-color: #053b2a;
  color: whitesmoke;
  margin: 0;
  padding: 14px 25px;
  text-align: center;
  display: block;
}
h2:hover::after {   content: "   >> ";}
h2:hover::before {  content: " <<   ";}


h3 {
  font-size: 12pt;
  /* font-style: italic; */
  background-color: #073b2b;
  color: whitesmoke;
  margin: 0;
  text-align: center;
  display: block;
}
h3:hover::after {  content: "      ------    ";}
h3:hover::before {  content: "    ------      ";}

h4 {
  font-size: 1.3rem;
  /* font-style: italic; */
  margin: 0;
  padding: 15px;
  text-align: center;
  display: block;
}

h1:nth-of-type(even),
h2:nth-of-type(even),
h3:nth-of-type(even),
h4:nth-of-type(even) {
  border: 1px solid #129877;
}

.collapsible {
  color: white;
  cursor: pointer;
  padding: 18px;
}

.collapsible:hover {
  /* background-color: rgba(0, 0, 0, 0.8); */
  background-image:linear-gradient(hsla(0,0%,0%,.1) 100%,transparent 100%)
}

.content {
  background-color: ivory;
  text-align: justify;
  font-family: "Times New Roman", Times, serif, Geneva, monospace;
  color: #2d2c2c;
  font-size: 1.2rem;
  display: none;
  overflow: hidden;
}

.text {
  padding: 20px;
}

.footer {
  max-width: 70%;
  margin: auto;
  text-align: center;
  background-color: #e1faf3;
}

ul {
  margin-left: 20px;
  margin-right: 20px;
  list-style-type: "-  ";
}

ol {
  margin-left: 25px;
  margin-right: 25px;
  padding: 25px;
}

li:nth-of-type(even) {
  color: rgba(0, 0, 0, 0.8);
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 10%;
  z-index: 99;
  font-size: 23px;
  font-weight: bold;
  font-family: "Times New Roman", sans-serif;
  border: none;
  outline: none;
  background-color: #730b0b;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0 10px 60px black;
}

#myBtn:hover {
  background-color: #2d2c2c;
}

.RedSolidboxLink a {
  background-color: #690606;
  color: whitesmoke;
  /* font-size: 0.7rem; */
  padding: 5px 20px;
}

.RedSolidboxLink a:hover {
  box-shadow: inset 1000px 0 0 0 black;
  font-weight: normal;
  transition: color 1s linear, box-shadow 1s linear;
}

.tileBG{
  /* background-image: url("bg1.jpg"); */
  background-repeat: repeat;
text-shadow: 0 10px 60px rgba(255,255,255,0.7);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 8rem;
  font-weight: bold;
  color: rgba(0,0,0, 0.5);
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  justify-content: center;
  align-items: center;
}


.DarkPurple{  background-color: #300240;}
.LightPurple{  background-color: #7e538c; font-size: 1.5rem; font-weight: normal; font-family: cursive;}

/* Python */
.pyBlue{  background-color: #3673a5;}
.pyYellow{  color: black;  background-color: #ffd342;}
/* database */
.dbBlue{   background-color: #006892;}
.dbOrange{  color: black;  background-color: #FFC300;}
/* .dbOrange{  color: black;  background-color: #e79700;} */

/* English */
.EnPurple{   background-color: #581845;}
.EnDarkRed{   background-color: #900C3F;}
.EnRed{   background-color: #C70039;}
.EnOrange{ color:whitesmoke;  background-color: #FF5733;}
.EnYellow{ color: black; background-color: #FFC300;}
.EnRedLight{  background-color: #db0b47;}
.moshBlue{  background-color: #2e5bd5}
.moshRed{  background-color: #da45a6}

.msDarkBlue{  background-color: #002050}
.msBlue{  background-color: #0064b5}
.msRed{  background-color: #f25022}
.msGreen{  background-color: #7fba00}
.msOrange{  background-color: #ffb900}
.msLightBlue{  background-color: #00a4ef}




.azurecolor{   background-color: #004589;}









/* TOP MENU RESPONSIVE */
.topMenu {
  overflow: hidden;
  background-color: #333;
}

.topMenu {
  overflow: hidden;
  background-color: #333;
}

.topMenu a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topMenu a:hover {
 font-size: 17px;
  background-color: #ddd;
  color: black;
}

.topMenu a.active {
  background-color: #04AA6D;
  color: white;
}

.topMenu .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topMenu a:not(:first-child) {display: none;}
  .topMenu a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topMenu.responsive {position: relative;}
  .topMenu.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topMenu.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}



.topMenu a.split {
  float: right;
  background-color: #04AA6D;
  color: white;
}









/* Links */

.links {
          background-color: whitesmoke;
          text-align: center;
          font-family: "Times New Roman", Times, serif, Geneva, monospace;
          color: #2d2c2c;
          font-size: 1.3rem;
          font-weight: bold;
}
.links a {
          box-shadow: inset 0 0 0 0 #900C3F;
          color: #900C3F;
          font-size: 1.2rem;
          text-decoration:none;
           padding: 0 2.25rem;
          transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
        }
.links a:hover {
          box-shadow: inset 1500px 0 0 0 #900C3F;
          color: white;
        }
.links img{
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          margin: 0 0 10px 0;
        }


.myLink {
          background-color: whitesmoke;
          text-align: left;
          font-family: "Times New Roman", Times, serif, Geneva, monospace;
          color: #2d2c2c;
          font-size: 1.5rem;
          font-weight: bold;
          padding: 0px  10%;
}
.myLink a {
          box-shadow: inset 0 0 0 0 #900C3F;
          color: #900C3F;
          font-size: 1.2rem;
          text-decoration:none;
          transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
        }
.myLink a:hover {
          box-shadow: inset 1500px 0 0 0 #900C3F;
          color: white;
        }















/*                                                          ANIMATION                                          */

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  font-size: 8rem;
  font-weight: bold;
  color: rgba(225,225,225, .01);
  background-image: url("watermark.jpg");
  background-repeat: repeat;
  -webkit-background-clip:text;
  animation: animate 35s ease-in-out infinite;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;

}

  @keyframes animate {
    0%, 100% {
      background-position: left top;
    }
    25%{
      background-position: right bottom;
     }
    50% {
      background-position: left bottom;
    }
    75% {
      background-position: right top;
    }
}

.watermark{
  height: 200px;
  width:auto;
    background: url("watermark.jpg") no-repeat;
    background-size: cover;

}
























/*                     ANIMATED CUBE                   */

.animatedCube{
  @grid: 20 / 60vmin;

    background: cyan;
    scale: 0;
    opacity: 0;
    animation: m 4s linear infinite;

    animation-delay: calc(
                          -1s/@I * @i * @sin(@i)
                          );

    @keyframes m {
                  0%, 50%, 90% { scale: 1; opacity: 1 }
                  25%, 75%, 100% { scale: 0; opacity: 0 }
                  }
}





































.moshTrack{
  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;
}
.moshTrack a {
box-shadow: inset 0 0 0 0 DarkRed;
  color:  whitesmoke;
  background-color: #902543;
  /* font-size: 1.5 rem; */
  padding: 5px 10px;
  margin:10px;
  width: 20vw;
    text-align: center;
}

.moshTrack a:hover {
  box-shadow: inset 500px 0 0 0  Orange;
  color: #902543;
  font-weight: normal;
  transition: color 1s  linear, box-shadow 1s linear;
}


.moshLink {
  padding:0 9rem;
          text-align: left;
          font-family: "Times New Roman", Times, serif, Geneva, monospace;
          color: #2d2c2c;
          font-size: 1rem;
}
.moshLink a {
          box-shadow: inset 0 0 0 0 #900C3F;
          color: #900C3F;
          text-decoration:none;
           padding: 0 1.5rem;
          transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
        }
.moshLink a:hover {
          box-shadow: inset 1500px 0 0 0 #900C3F;
          color: white;
        }
.moshLink img{
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          margin: 0 0 10px 0;
        }




 .csh1{  background-color:#48005e;} /* #7f0303; } */
.csh2{  background-color: #681c7c;} /*#b40606}*/
.csh3{  background-color: #e10404;}

.jh1{  background-color:#5e0002;} /* #7f0303; } */
.jh2{  background-color: #7c1c1c;} /*#b40606}*/
.jh3{  background-color: #e10404;}

.foot {
  margin: 3rem;
  pading: 3rem;
  text-align: center;
  font-family: monospace;
}
